<!DOCTYPE html>

{% load staticfiles %} 

<html>
    <head>
        <title>GrubHunt - Editing User Profile</title>
        
		<meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

    </head>
 
  <body>

<!-- Header of the webpage-->
  <div id="header">
    		
    <h2 class="alignleft">
          {% if user.is_authenticated %}
          	<a href="/GrubHunt/logout">Logout </a>
          {% else %}  
         	<a href="/GrubHunt/login">Login </a>
          {% endif %}
          <a href="/GrubHunt">/ Home</a>
    </h2>
    		

	<h2 class="alignright">
		<a href="/GrubHunt/vendors">Map View </a>
		<a href="/GrubHunt/list_vendors">/ List View</a>
	</h2>

</div>

		<!-- Need to fix the profile image path, user.userprofile.picture returns static/profile_images/img, 
		but we just need the img name -->
{% if user.is_authenticated %}		
<form id="form" method="POST" action="/GrubHunt/profile/{{ userprofile.slug }}/edit_profile/" >
    {% csrf_token %}
<!-- {{ user_form.as_p }} removed this out for now. Focused on getting the picture to save first--> 
    {{ profile_form.as_p }}
    <button type="submit">Save</button>
</form>
{% endif %}




  </body>
</html>