<!DOCTYPE html>

{% load staticfiles %} 

<html>
    <head>
        <title>GrubHunt - Find Route</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="{% static "javascript/gmaps.js" %}"></script>
		<script src="{% static "javascript/find_route.js" %}"></script>       
		<meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8" />	
		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<style>
			#map {
				width: 600px;
    			height: 400px;
				float: left;
				padding: 0px;
			}

			#wrapper {
			    padding: 100px 25px;
			    border: 0;
			    overflow: hidden; /* will contain if #first is longer than #second */
			}
			#first {
			    width: 400px;
			    float:left;
			    border: 0;
			    padding: -100px;
			}		
		</style>
		
    </head>
 
<body>

 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
         {% if user.is_authenticated %}
         <li><a href="/GrubHunt/vendors/">Map of Vendors</a></li>
         <li><a href="/GrubHunt/list_vendors/">List of Vendors</a></li>
         <li><a href="/GrubHunt/logout/">Logout</a><br /></li>
         {% else %}
         <!-- <li><a href="/GrubHunt/register/">Register Here</a></li> -->
         <li><a href="/GrubHunt">Home</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

 <div class="container">
<div id="wrapper">
    <div id="first">


<!-- display info of the vendor -->
		<h5>
		{% if vendor %}
			{% if not vendor.businessName %}
				<b>Name:</b> NoName<br>
		{% else %}
				<b>Name:</b> {{vendor.businessName}}<br>
		{% endif %}

		<b>Description:</b> {{vendor.description}}</br>
		<b>Address:</b> {{vendor.address}}</br>

		<script> 
            $( window ).load(function() {
             console.log("add the food trucks");
             plotFoodTruck({{vendor.latitude}},
             {{vendor.longitude}}, 
              "{{vendor.businessName}}");
           }); 
      	</script>
		{% endif %}
	
	<!-- find route text boxes -->
		<form id="find_route" name="find_route" method="POST" action="#">
            {% csrf_token %}
			
			<!-- Textboxes for inputting from and to position -->
            <label for="origin">Origin:</label> 
			<input type="text" id="from_pos" name="from_pos" placeholder="Your Location" />
			<a id="cur_loc" href="#">Get Current Location</a>
			<br />
			
            <label for="destination">Destination:</label>
			<input type="text" id="to_pos" name="to_pos" value="{{vendor.latitude}},{{vendor.longitude}}" placeholder="Vendor's Location"/>
			</h2>

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" value="Get Route" /> <br>
		</form>
		
	<!-- add to user's favourites button-->
	<a href="/GrubHunt/find_route/{{vendor.slug}}/add_vendor_to_user">Add To Favourites</a>
		
	<!-- Twitter button -->	
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="I'm using GrubHunt to check out this cool food vendor!" data-size="large">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <br/>
     <!-- Facebook like and share button -->
        <div class="fb-like" data-href="http://127.0.0.1:8000/GrubHunt/find_route/{{ vendor.slug }}/" data-width="30px" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
       <br/> 

    <p id="error"></p>

    </div>
    <div id="map">
    	
    		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKhtN-Y5ahiOTzVHtpMLC3bBqs8j6s56Q&callback=initMap"
			async defer></script>
    </div>
</div>
