<!DOCTYPE html>

{% load staticfiles %} 

<html>

<head>

  <title>GrubHunt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>

<style>

</style>

    <body>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
         {% if user.is_authenticated %}
         <li><a href="/GrubHunt">Home</a></li>
         <li><a href="/GrubHunt/profile/{{ user.userprofile.slug }}">Profile</a></li>
         <li><a href="/GrubHunt/vendors/">Map of Vendors</a></li>
         <li><a href="/GrubHunt/list_vendors/">List of Vendors</a></li>
         <li><a href="/GrubHunt/logout/">Logout</a><br /></li>
         {% else %}
         <li><a href="/GrubHunt/register/">Register Here</a></li>
         <li><a href="/GrubHunt/login/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

  <div class="jumbotron text-center">
    <h1>GrubHunt</h1> 
    
    <center>
    {% if user.is_authenticated %}
    <h3>Hello {{ user.username }}, Welcome to GrubHunt!</h3>
    {% else %}
    <h3>Hello Guest, Welcome to GrubHunt!</h3>
    {% endif %}

        {% if user.is_staff %}
          <h3><center> Admin, would you like to  <a href="/GrubHunt/update/">update</a> the database?</center></h3>
        {% endif %} 

    <img src="/static/images/3trucks.gif">
  </div>
    	<center>


    </body>
</html>