<!DOCTYPE html>

{% load staticfiles %} 

<html>
    <head>
        <title>GrubHunt - User Profile</title>
        
		<meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

    </head>
 
  <body>

<!-- Header of the webpage-->
  <div id="header">
    		
    <h2 class="alignleft">
          {% if user.is_authenticated %}
          	<a href="/GrubHunt/logout">Logout </a>
          {% else %}  
         	<a href="/GrubHunt/login">Login </a>
          {% endif %}
          <a href="/GrubHunt">/ Home</a>
    </h2>
    		

	<h2 class="alignright">
		<a href="/GrubHunt/vendors">Map View </a>
		<a href="/GrubHunt/list_vendors">/ List View</a>
	</h2>

</div>

		<!-- Need to fix the profile image path, user.userprofile.picture returns static/profile_images/img, 
		but we just need the img name -->
		
		<h3>Profile Picture:</h3> 
		{% if userprofile.picture %}
		<img src= "{{userprofile.picture.url}}" alt="Profile Picture"/>
		{% else %}
		<img src= "{% static "images/unknownPic.png" %}" alt="unknownPic"/>
		{% endif %}
		<h3> UserName: {{user.username}}</h3>
		<h3> Email: {{user.email}} </h3>
		<h3> Website: <a href = "{{userprofile.website}}"> {{ userprofile.website}}</a></h3>
		<h3> Favourite Vendors:</br>
		{% if vendors %}
			{% for v in vendors %}
				{% if v.businessName %}
					Name: {{ v.businessName }}
				{% else %}
					Name: No Name
				{% endif %}
				</br>Address: 
				<a href = "/GrubHunt/find_route/{{ v.slug }}"> {{ v.address }}</a><br/>
			{% endfor %}
		{% endif %}


  </body>
</html>