<!DOCTYPE html>

{% load staticfiles %} 

<html>
	<head>
	  <title>Profile</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	   <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
	</head>
	 
	 <style>
      #wrapper {
          padding: 100px 25px;
          border: 0;
          overflow: hidden; /* will contain if #first is longer than #second */
      }
    </style>

  <body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
         {% if user.is_authenticated %}
         <li><a href="/GrubHunt">Home</a></li>
         <li><a href="/GrubHunt/profile/{{ user.userprofile.slug }}">Profile</a></li>
         <li><a href="/GrubHunt/vendors/">Map of Vendors</a></li>
         <li><a href="/GrubHunt/list_vendors/">List of Vendors</a></li>
         <li><a href="/GrubHunt/logout/">Logout</a><br /></li>
         {% else %}
         <li><a href="/GrubHunt/register/">Register Here</a></li>
         <li><a href="/GrubHunt/login/">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Need to fix the profile image path, user.userprofile.picture returns static/profile_images/img, but we just need the img name -->
<div id="wrapper">
	<div id="sidebar"> 
		{% if userprofile.picture %}
			<img src= "{{userprofile.picture.url}}" alt="Profile Picture" width="160"/>
		{% else %}
			<img src= "{% static "images/unknownPic.png" %}" alt="unknownPic"  width="160" />
		{% endif %}
			<h4><b> {{user.username}}</h4></b>
			<h4> Email: <br /> <a href = "mailto:{{user.email}}">{{user.email}}</a> </h4>
			<h4> Website: <br /> <a href = "{{userprofile.website}}"> {{ userprofile.website}}</a></h4>
			<h4><a href="/GrubHunt/profile/{{userprofile.slug}}/edit_profile">Edit Profile</a></h4>

</div>
		<h3> Favourite Vendors:</h3>
			
			{% if vendors %}
			<p>
      			{% for v in vendors %}
	     			<span class="alignleft">
					<a href="/GrubHunt/profile/{{userprofile.slug}}/remove_vendor/{{ v.slug }}">Remove From Favourites</a>
				      {% if v.businessName %}
						{{ v.businessName }}
					  {% else %}
						No Name
					  {% endif %}
			 	    </span>
				
			    <span class="alignright">
       				<a href="/GrubHunt/find_route/{{ v.slug }}">
     					{{v.address}}
       				</a>
       			</span>
       			<br/><br/>
        	{% endfor %}
        	</p> 
      	{% else %}
			<p> No venders have been added </p>
      	{% endif %}
			
		</div>
		</div>
  </body>
</html>