<!DOCTYPE html>

{% load staticfiles %} 

<html>
    <head>
        <title>GrubHunt - Profile updated</title>
        
		<meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

    </head>
 
  <body>

<!-- Header of the webpage-->
  <div id="header">
    		
    <h2 class="alignleft">
          {% if user.is_authenticated %}
          	<a href="/GrubHunt/logout">Logout </a>
          {% else %}  
         	<a href="/GrubHunt/login">Login </a>
          {% endif %}
          <a href="/GrubHunt">/ Home</a>
    </h2>
    		

	<h2 class="alignright">
		<a href="/GrubHunt/vendors">Map View </a>
		<a href="/GrubHunt/list_vendors">/ List View</a>
	</h2>
</div>

        <h2>Your profile has been updated</h2>

    </body>

</html>