<!DOCTYPE html>

{% load staticfiles %} 

<html>
    <head>
        <title>GrubHunt - Database Update</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    </head>

    <body>

		<h1>Checking for new food vendors...</h1>
		
        {% if added_vendors %}
            <ul>
                {% for vendor in added_vendors %}
                   <li>{{ vendor }} was added</li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There were no food vendors added.</strong>
       {% endif %}


    </body>
</html>