html, body {
	height: 100%;
    margin: 0;
    padding: 0;
    }
 

.jumbotron { 
    background-color: #A9E2F3;
    color: #1C1C1C;
    padding: 100px 25px;

    .navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

#nav {
	line-height: 30px;
	backgound-color: #eeeeee;
	height: 400px;
	width: 400px;
	float: left;
	padding: 5px;
} 
		  
#header {
	padding: 0 15px;
	background-color: #6D7B8D;
	margin: 0px;
	overflow: hidden;
}


#list {
	width: 70%;
    margin: 0 auto;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	max-width: 1050px;
}

#links {
	background-color: #6D7B8D;
	width: 25%;
	float: left;
	padding: 5px;
}

#sidebar {
	min-width: 170px;
	float: left;
	border-right: thin solid #657383;
	padding-right: 5px;
	margin: 5px;
	height:100vh;
}

a:link {
	color: #3EA99F;
}

a:visited {
	color: #78C7C7;
}
 
h1 {
	color: #3EA99F;
    font-size: 50px;
    text-align: center;
}
    
h2 {
	font-size: 20px;
}

h3 {
	font-size: 17px;
    color: #657383;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: thin solid #657383;
    margin: 1em 0;
    padding: 0; 
}
p {
	color: #657383;
}

.alignleft {
	float: left;
    text-align: left;
}

.alignright {
	float: right;
    text-align: right;
}

.aligncenter {
	text-align: center; 
}




